@model Restaurant.ViewModels.Account.GebruikerEditViewModel
@{
    ViewData["Title"] = "Gebruiker bewerken";
}

<h2>Gebruiker bewerken</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Voornaam" class="form-label">Voornaam</label>
                <input asp-for="Voornaam" class="form-control" />
                @Html.ValidationMessageFor(m => m.Voornaam, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label asp-for="Achternaam" class="form-label">Achternaam</label>
                <input asp-for="Achternaam" class="form-control" />
                @Html.ValidationMessageFor(m => m.Achternaam, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control"/>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label asp-for="Adres" class="form-label">Adres</label>
                <input asp-for="Adres" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Huisnummer" class="form-label">Huisnummer</label>
                <input asp-for="Huisnummer" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Postcode" class="form-label">Postcode</label>
                <input asp-for="Postcode" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Gemeente" class="form-label">Gemeente</label>
                <input asp-for="Gemeente" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="LandId" class="form-label">Land</label>
                <select asp-for="LandId" class="form-select" asp-items="Model.Landen"></select>
                @Html.ValidationMessageFor(m => m.LandId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Actief" class="form-label w-100">Actief</label>
            <input asp-for="Actief" type="checkbox" class="form-check-input" />
        </div>
        <div class="mb-3">
            <div class="form-label">Rollen</div>
            @foreach (var role in Model.AllRollen)
            {
                var isChecked = Model.Rollen != null && Model.Rollen.Any(r => r.ToLower() == role.Value.ToLower());
                <div class="form-check d-flex">
                    <input class="form-check-input my-auto me-sm-2" type="checkbox" name="Rollen" value="@role.Value" id="role_@role.Value" @(isChecked ? "checked" : "") />
                    <label class="form-check-label" for="role_@role.Value">@role.Text</label>
                </div>
            }
        </div>
    </div>

    <button type="submit" class="btn btn-custom-primary">Opslaan</button>
    <a asp-action="Gebruikers" class="btn btn-custom-secondary">Annuleren</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}